/***************************************************GLOBALS***************************************************/
* { /*Removes the default margins and padding and makes element sizing more accurate*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	flex-shrink: 0;
}

:root {
	font-size: 16px;
	--darkest-grey: hsl(0, 0%, 10%);
	--dark-grey: hsl(0, 0%, 26%);
	--middle-grey: hsl(0, 0%, 42%);
	--light-grey:  hsl(0, 0%, 58%);
	--lightest-grey:  hsl(0, 0%, 74%);
}

html, body, main {
	height: 100%;
	width: 100%;
}

main {
	background-color: var(--darkest-grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

main > article {
	height: 800px;
	width: 500px;
	background-color: var(--lightest-grey);
	border-radius: 25px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.criterion {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.criterion div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.criterion button {
	height: 50px;
	width: 50px;
	border-color: transparent;
}

h2, p {
	text-align: center;
}

#final-rating {
	display: flex;
}

/***************************************************Media Queries***************************************************/
@media only screen and (max-width: 550px) {
	main > article {
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 470px) {
	.criterion {
		width: 80%;
	}
}

@media only screen and (max-width: 430px) {
	.criterion {
		width: 85%;
	}
}

@media only screen and (max-width: 400px) {
	h2 {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 360px) {
	.criterion button {
		height: 40px;
		width: 40px;
	}
}

@media only screen and (max-width: 336px){
	h2 {
		font-size: 1.2rem;
	}
}