/***************************************************GLOBALS***************************************************/
* { /*Removes the default margins and padding and makes element sizing more accurate*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	flex-shrink: 0;
}

:root {
	font-size: 16px;
	--darkest-grey: hsl(0, 0%, 10%);
	--dark-grey: hsl(0, 0%, 26%);
	--middle-grey: hsl(0, 0%, 42%);
	--light-grey:  hsl(0, 0%, 58%);
	--lightest-grey:  hsl(0, 0%, 74%);
}

html, body, main {
	width: 100%;
}

html, body {
	background-color: var(--darkest-grey);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	background-color: var(--darkest-grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

main > article {
	height: 900px;
	width: 500px;
	background-color: var(--lightest-grey);
	border-radius: 25px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.criterion {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.criterion div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.criterion button {
	height: 50px;
	width: 50px;
	border-color: transparent;
}

h2, p {
	text-align: center;
}

h2 {
	font-family: 'Laila', sans-serif;
	text-decoration: underline;
}

p {
	font-family: 'Titillium Web', sans-serif;
}
#final-rating button {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border-color: transparent;
	font-family: 'Domine', serif;
	font-size: 2.25rem;
}

/***************************************************Media Queries***************************************************/
@media only screen and (max-width: 550px) {
	main > article {
		width: 100%;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 475px) {
	.criterion {
		width: 80%;
	}
}

@media only screen and (max-width: 450px) {
	.criterion {
		width: 85%;
	}
}

@media only screen and (max-width: 420px) {
	.criterion h2 {
		font-size: 1.25rem;
	}
}

@media only screen and (min-height: 900px) {
	html, body {
		height: 100%;
	}
}